.post{
    height: 587px;
}
/*左边部分*/
.post .postleft{
    box-shadow: 0 0 0 0 rgba(0,0,0,0) inset;
}
.post .postleft ul{
    padding-top: 22px;
    overflow: hidden;
    height: 100%;
    background:#EFF3F4;
}
.post .postleft ul li {
    width: 200px;
    height: 33px;
    list-style: none;
    line-height: 33px;
    margin-top: 17px;
    margin-left: 11px;
    text-indent: 32px;
    position: relative;
}
.post .postleft .posttouch{
    box-shadow: 0 0 0 rgba(0,0,0,0);
    background: #fff;
    color: #0B6898;
    font-weight: bold;
}
/*右边部分*/
.post .right{
    width: calc(100% - 211px - 86px - 78px);
    height: calc(100% - 48px);
    float: left;
    background: #fff;
    padding: 48px 0 0 78px;
}
.post .right div{
    margin: 70px 0 12px 0;
}
.post .right div span{
    line-height: 34px;
    text-align: right;
    text-indent: 44px;
    font-size: 14px;
    color:#666666;
    float: left;
}
.post .right div input:nth-of-type(1){
    width: 268px;
    height: 34px;
    box-sizing: border-box;
    margin-left: 10px;
}
.post .right .gou{
    margin-left: 96px;
}
.post .right .agree{
    margin-right: 200px;
    color:#333333;
}
.post .right img:nth-last-of-type(1){
    margin-left: 35px;
    margin-top: 68px;
}
.btn{
    width: 110px;
    height: 40px;
    margin-left: 96px;
    margin-top: 20px;
}




