* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  width: 100px;
  height: 30px;
  color: #fff;
  background: #E67929;
  line-height: 30px;
  border: none;
}
.choiceThis {
  background: #FEAD71;
}
/*top*/
.wTop {
  background: #373030;
}
.wTop div {
  width: 1200px;
  height: 34px;
  font: 12px/34px "SimSun";
  margin: auto;
  color: #fff;
}
.wTop div ul {
  float: left;
}
.wTop div ul li {
  float: left;
  margin-right: 25px;
}
.wTop div ul li a {
  color: #fff;
}
.wTop div ul li img {
  width: 8px;
}
.wTop div ul li:nth-child(1) {
  margin-right: 12px;
}
.wTop div dl {
  float: right;
}
.wTop div dl dt,
.wTop div dl dd {
  float: left;
}
.wTop div dl dt {
  width: 22px;
  height: 20px;
  margin-top: 7px;
}
.wTop div dl dt img {
  width: 100%;
}
.wTop div dl dd:nth-of-type(1) {
  margin-left: 7px;
  margin-right: 50px;
}
/*banner*/
.wBanner {
  width: 1200px;
  height: 146px;
  margin: auto;
}
.wBanner dt {
  float: left;
  margin-top: 16px;
  width: 110px;
  height: 110px;
}
.wBanner dt img {
  width: 100%;
  height: 100%;
}
.wBanner dd {
  float: left;
  width: 218px;
  height: 90px;
  margin-top: 55px;
  text-align: center;
}
.wBanner dd a {
  color: #000000;
}
.wBanner dd a p {
  font: 14px/14px "SimSun";
  font-weight: bolder;
}
.wBanner dd a h3 {
  margin-top: 10px;
  font: 12px/12px "SimSun";
}
.wBanner dd:hover a {
  color: #5E3411;
}
.wBanner dd:hover a p {
  font-size: 24px;
}
/*bannerImg*/
.wBannerImg div {
  width: 1900px;
  height: 540px;
  overflow: hidden;
  margin: auto;
}
.wBannerImg div img {
  width: 100%;
  margin-top: -180px;
}
/*bottom*/
.wBottom {
  height: 340px;
  background: #373030;
  color: #fff;
}
.wBottom section:nth-child(1) {
  border-bottom: 1px solid #1E1E1E;
}
.wBottom section:nth-child(1) ul {
  width: 1200px;
  height: 217px;
  font: 12px/34px "SimSun";
  margin: auto;
}
.wBottom section:nth-child(1) ul li {
  width: 200px;
  height: 189px;
  float: left;
  margin-top: 28px;
  box-sizing: border-box;
  border-right: 1px solid #1E1E1E;
  text-align: center;
}
.wBottom section:nth-child(1) ul li p {
  margin-top: 28px;
  font: 14px/56px "SimSun";
}
.wBottom section:nth-child(1) ul li a {
  display: block;
  color: #fff;
  font: 12px/20px "SimSun";
}
.wBottom section:nth-child(1) ul li img {
  width: 120px;
  height: 120px;
  margin-top: 30px;
}
.wBottom section:nth-child(1) ul li h1 {
  font: 12px/20px "SimSun";
}
.wBottom section:nth-child(1) ul li:nth-last-child(1) {
  border-right: none;
}
.wBottom section:nth-child(2) dl {
  width: 1200px;
  height: 80px;
  margin: auto;
}
.wBottom section:nth-child(2) dl dd {
  width: 400px;
  margin-top: 28px;
  float: left;
}
.wBottom section:nth-child(2) dl dd img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}
.wBottom section:nth-child(2) dl dd h2 {
  font: 12px/20px "SimSun";
}
.wBottom section:nth-child(2) dl dd:nth-child(3) img,
.wBottom section:nth-child(2) dl dd:nth-child(3) h2 {
  float: right;
}
.wBottom section:nth-child(3) {
  border-top: 2px solid #000;
}
.wBottom section:nth-child(3) div {
  width: 1200px;
  height: 40px;
  margin: auto;
  text-align: center;
  font: 10px/40px "SimSun";
}
/*bannerImg*/
.wBannerImg div {
  width: 1900px;
  height: 140px;
}
.wCenter {
  width: 1200px;
  height: 756px;
  margin: 30px auto 0;
}
.wCenter ul {
  width: 267px;
  height: 100%;
  float: left;
}
.wCenter ul a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
.wCenter ul li,
.wCenter ul a {
  width: 100%;
  height: 50px;
  text-align: center;
  font: 14px/50px "SimSun";
}
.wCenter ul li:nth-of-type(1) {
  width: 100%;
  height: 85px;
  font: 18px/85px "SimSun";
  background: #332D2D;
}
.wCenter ul li:nth-last-of-type(1) {
  width: 100%;
  height: 55px;
  font: 12px/30px "SimSun";
  background: #4C4242;
}
.wCenter ul li:nth-last-of-type(1) h2 {
  font: 12px/30px "SimSun";
}
.wCenter ul li:nth-last-of-type(1) section {
  display: inline-block;
  font: 14px/16px "SimSun";
}
.wCenter ul li:nth-last-of-type(1) section div {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  float: left;
}
.wCenter ul li:nth-last-of-type(1) section div img {
  width: 14px;
  height: 14px;
}
.wCenter ul li:nth-last-of-type(1) section h3 {
  font: 14px/14px "SimSun";
  float: left;
}
.wCenter ul li:nth-of-type(1),
.wCenter ul li:nth-last-of-type(1) {
  color: #fff;
}
.wCenter dl {
  width: 810px;
  height: 100%;
  float: left;
  margin-left: 60px;
}
.wCenter dl dt {
  margin-bottom: 40px;
}
.wCenter dl dd a {
  width: 400px;
  height: 225px;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.wCenter dl dd a img {
  width: 400px;
  height: 100%;
  position: absolute;
  background: #ccc;
}
.wCenter dl dd a div {
  width: 200px;
  height: 100%;
  background: #88B077;
  opacity: 0.9;
  position: absolute;
  left: 400px;
  top: 0;
  transition: 0.5s;
  color: #fff;
  text-align: center;
}
.wCenter dl dd a div h1 {
  font: 14px/14px "SimSun";
  margin-top: 50px;
}
.wCenter dl dd a div h2 {
  font: 10px/10px "SimSun";
  margin-top: 10px;
}
.wCenter dl dd a div h3 {
  font: 12px/12px "SimSun";
  margin-top: 20px;
}
.wCenter dl dd a div button {
  position: absolute;
  bottom: 20px;
  left: 50px;
}
.wCenter dl a:nth-of-type(2n-1) {
  margin-right: 5px;
}
.wCenter dl a:hover div {
  left: 200px;
}
.num {
  width: 1200px;
  height: 180px;
  margin: auto;
  overflow: hidden;
}
.num div {
  width: 350px;
  height: 40px;
  margin: 60px auto 0;
}
.num div a {
  float: left;
  text-align: center;
  color: #656565;
  width: 50px;
  height: 40px;
  font: 12px/40px "SimSun";
}
/*# sourceMappingURL=01-ProductCenter.css.map */